---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
	  font-family: "Gidole-Regular";
		  src: url( 'D2Coding.ttf') format( 'truetype');
}

@charset "utf-8";

// Our variables
$base-font-family: "Gidole-Regular", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
// $background-color: #fdfdfd;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.post .highlight pre {
    background-color: transparent;
    border: none;
    padding: inherit !important;
}

// 포스팅을 쓸때, `단어` 안의 단어와 하이라이팅 된 코드 등에 영향.
.post code {
//  border: 1px solid #c0daf2;
  //font-family: $code-font-family;
  padding: 0 .25em;
  border-radius:2px;
  background-color: #e9e7f1; color: #180d49;
}

.post pre code {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
}
